<ion-view>

    <ion-nav-title>
        Produto: {{ product.name }}
    </ion-nav-title>
    <div class="bar bar-subheader">
        <h2 class="title">
            Detalhes do  produto
        </h2>
    </div>
    <ion-content class="padding has-subheader">
        <div class="list card">
            <div class="item item-avatar">
                <h2>{{product.name}}</h2>
                <p>
                    Qtd: {{product.qtd}} <br>
                    <i class="ion ion-cash"> {{ product.price }}</i>
                </p>
            </div>
            <label class="item item-input">
                <span>Quantidade:</span>
                <div class="range range-positive">
                    <i class="icon ion-minus-circled"></i>
                    <input type="range" ng-model="product.qtd" min="1" max="30" value="1">
                    <i class="icon ion-plus-circled"></i>
                </div>
            </label>
            <button type="button" class="button button-assertive button-full" ng-click="updateQtd()">Atualizar</button>
            <div class="item item-body">
                <h2>Descrição</h2>
                <p>{{ product.description }}</p>
            </div>
        </div>
    </ion-content>
</ion-view>