<ion-side-menus enable-menu-with-back-views="true">
  <!-- Center content -->
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <!-- Left menu -->
  <ion-side-menu side="left" class="dark-bg">
    <ion-content>

      <ion-header-bar class="bar bar-header item-input-inset dark-bg">
        <label>
          <h4 class="stable">Bem vindo, {{ user.name }} !!</h4>
        </label>
      </ion-header-bar>

      <div class="text-center">
        <a ui-sref="account">
          <img class="profile-picture" menu-close="" ng-src="{{ user.gravatar }}">
        </a>
        <div class="list text-left dark-list">
          <div class="item item-icon-left" menu-close ui-sref="client.orders">
            <i class="icon ion-android-list"></i>
            Meus Pedidos
          </div>
          <div class="item item-icon-left" menu-close ui-sref="client.checkout">
            <i class="icon ion-bag"></i>
            Fazer Pedido
          </div>
          <a class="item item-icon-left" menu-close="" ng-click="logout()">
            <i class="icon ion-log-out"></i>
            Sair
          </a>
        </div>
      </div>

    </ion-content>

  </ion-side-menu>

</ion-side-menus>