<ion-view>
    <ion-nav-title> Meus Pedidos </ion-nav-title>
    <div class="bar bar-dark bar-subheader">
        <h2 class="title"></h2>
        <button class="button button-icon ion-refresh" ng-click="doRefresh()"></button>
    </div>
    <ion-content class="padding has-subheader">
        <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="doRefresh()"></ion-refresher>
        <ion-list>
            <ion-item collection-repeat="p in orders"
                      class="item-remove-animate item-thumbnail-left"
                      type="item-text-wrap">
                <img ng-src="img/r2_thumb.jpg">
                <h2><i class="ion ion-ios-cart"> {{ p.qtd }} Itens</i></h2>
                <p>
                    <span ng-if="p.status == 0"> Pendente </span>
                    <span ng-if="p.status == 1"> A Caminho </span>
                    <span ng-if="p.status == 2"> Entregue </span>
                    <span ng-if="p.status == 3"> Cancelado </span>
                </p>
                <p>{{ p.product_names | limitTo: 2 | join: ', ' }}</p>
                <ion-option-button class="button-assertive" ng-click="openOrderDetail(p)">
                    <i class="ion ion-ios-eye" style="font-size: 42px"></i>
                </ion-option-button>
                <ion-option-button class="button-dark" ng-click="openViewDelivery(p)">
                    <i class="ion ion-android-bicycle" style="font-size: 42px"></i>
                </ion-option-button>
            </ion-item>
            <ion-infinite-scroll ng-if="canMoreOrders" on-infinite="loadModel()" distance="1%"></ion-infinite-scroll>
        </ion-list>
    </ion-content>
</ion-view>