<ion-view>
    <ion-nav-title> Nossos Produtos </ion-nav-title>
	<div class="bar bar-dark bar-subheader">
		<h2 class="title">Escolha Seu Produto!</h2>
	</div>
    <ion-content class="padding has-subheader">
        <ion-list>
            <ion-item collection-repeat="p in products" 
                      class="item-remove-animate item-thumbnail-left item-icon-right" 
                      ng-click="addItem(p)">

                <img ng-src="img/r2_thumb.jpg">
                <h2>{{ p.name }}</h2>
                <p>
                    <span class="item-note">
                        <i class="ion ion-cash"> {{ p.price }}</i>
                    </span>
                </p>
                <i class="icon ion-plus icon-accessory"></i>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="canMoreProducts" on-infinite="loadModel()" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>